/* ------------- ROOT VALUES ------------- */
:root {
    /* --- FONT SIZES --- */
    --largest-font: ;
    --larger-font: ;
    --large-font: ;
    --text-large-font: ;
    --text-font: ;
    /* --- COLOURS --- */
    --text-color: ;
    --hover-color: ;
    --dark-color: ;
    --bg-color: ;
    --header-change-color: ;
}
/* ----------------- PRELOADER ----------------- */

/* ----------------- SCROLL TO TOP BUTTON ----------------- */

/* ----------------- SCROLLBAR ----------------- */
        
/* ----------------- MAIN HEADER ----------------- */
          
/* ----------------- ABOUT ----------------- */
         
/* ----------------- SERVICES ----------------- */
            
/* ----------------- NEWSLETTER ----------------- */

/* ----------------- FOOTER ----------------- */
            
/* ----------------- SLIDE IN WHEN IN VIEW ----------------- */
            
/* For Slide In from left */
/* For Slide In from top */

/* ----------------- BREAKPOINTS/SCREEN ADAPT ----------------- */
